* {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(86,106,212);
    background: radial-gradient(circle, rgba(86,106,212,1) 0%, rgba(40,45,176,1) 31%, rgba(33,38,143,1) 54%, rgba(11,18,126,1) 70%, rgba(56,64,172,1) 90%, rgba(18,23,103,1) 100%);
}